.header-container h2 {
  color: #00f;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 90%;
  border: 1px solid blue;
}

.header-logo {
  width: 128px;
  height: 128px;
  border: 1px solid red;
}
