.ingredient-row {
  display: flex;
  flex-wrap: nowrap;
}

.ingredient-brand-name {
  font-weight: bold;
}

.ingredient-details {
  flex-grow: 1;
}

.ingredient-edit-column {
  display: flex;
}

.ingredient-row-button {
  margin: 0 12px;
}
